
TPLTASKBUSCAR/.idea/.idea.tplbuscar/.idea/.name
TPLTASKBUSCAR/.idea/.idea.tplbuscar/.idea/indexLayout.xml
TPLTASKBUSCAR/.idea/.idea.tplbuscar/.idea/vcs.xml
TPLTASKBUSCAR/.idea/.idea.tplbuscar/.idea/workspace.xml
TPLTASKBUSCAR/obj/x86/Debug/tplbuscar.csproj.AssemblyReference.cache
TPLTASKBUSCAR/tplbuscar.csproj
*.csproj
.idea/.idea.TPLTASKBUSCAR/.idea/vcs.xml
TPLTASKBUSCAR/bin/Debug/TPLTASKBUSCAR.exe
TPLTASKBUSCAR/bin/Debug/TPLTASKBUSCAR.pdb
TPLTASKBUSCAR/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
TPLTASKBUSCAR/obj/Debug/TPLTASKBUSCAR.csproj.AssemblyReference.cache
TPLTASKBUSCAR/obj/Debug/TPLTASKBUSCAR.csproj.CoreCompileInputs.cache
TPLTASKBUSCAR/obj/Debug/TPLTASKBUSCAR.csproj.GenerateResource.cache
TPLTASKBUSCAR/obj/Debug/TPLTASKBUSCAR.exe
TPLTASKBUSCAR/obj/Debug/TPLTASKBUSCAR.pdb
TPLTASKBUSCAR/tplbuscar.csproj
TPLTASKBUSCAR/TPLTASKBUSCAR.csproj
